<div class="rte">
  <div class="text-center wrapper main-text header">
    <h2>OUR STORY</h2>
    <hr/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dui nec neque vulputate pellentesque sed porta felis. Mauris dolor ipsum, maximus quis nibh non, laoreet vehicula quam.
    </p>
  </div>

  <div class="wrapper main-text text-center">
    {{ 'about-eagles-nest.jpg' | asset_url | img_tag: 'Eagles Nest', 'lodge-img' }}
    <h3>EAGLES NEST HISTORY</h3>
    <hr>
    <p>This massive 3-story estate is second to none on the pristine Sundance Mountain. Eagles Nest was name the only “Luxury Lodge” in the Andrew Harper magazine in the 2013 addition. It was built in 1986 as a family get-away and is still owned and operated by the Dallin family. You will enjoy all the up grades and attention to detail this property has to offer. The fully equipped outdoor kitchen is a perfect setting for a corporate or family event. You won’t run out of space on the newly added 4,000 square foot deck. This award winning deck is known as the “Ski Garden” because of the beautiful flowers and trees that are planted on this grandeur estate, not to mention the fabulous fireplaces. Eagles Nest is perched high above the trees as it provides privacy and a view of the stunning Sundance Resort.</p>
    <a class="btn" href="/products/eagles-nest">BOOK NOW</a>
  </div>

  <div class="wrapper main-text text-center">
    {{ 'about-chalet.jpg' | asset_url | img_tag: 'Chalet', 'lodge-img' }}
    <h3>CHALET HISTORY</h3>
    <hr>
    <p>This sweet cottage estate was originally built at the Worlds Fair in Washington. A builder disassembled this quaint A- frame, where it traveled to the beautiful Sundance Mountain and is known as the Chalet. The Dallin’s have owned this “little peace of heaven” ever since. The Chalet sits in the mighty ever greens with a large grassy area filled with foliage and trees that surround a sport court with a stream running below and if you’re lucky you will catch a glimpse of the friendly mountain animals. This stunning estate has been known as the “most preferred” place to stay on the Sundance Mountain.</p>
    <a class="btn" href="/products/chalet">BOOK NOW</a>
  </div>
</div>
